<div class="dashboard-container">
  <h1>Admin Dashboard - Messages</h1>
  <% @messages.each do |msg| %>
    <div class="message">
      <p><strong>Title:</strong> <%= msg.title %></p>
      <p><strong>Body:</strong> <%= msg.body %></p>
      <% if msg.image.attached? %>
        <%= image_tag msg.image %>
      <% end %>
    </div>
     <p><strong>Status:</strong> <%= msg.status %></p>
  <% if msg.status == 'pending' %>
    <%= link_to 'Mark as Processed', update_status_message_path(msg), method: :patch %>
  <% end %>
  <% end %>
</div>



