<%= form_with(model: casinogame) do |form| %>
  <% if casinogame.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(casinogame.errors.count, "error") %> prohibited this casinogame from being saved:</h2>

      <ul>
        <% casinogame.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
   <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field:image %>
  </div>

  
  <div>
    <%= form.submit %>
  </div>
<% end %>
